.off-screen {
  opacity: 1;
}

.off-screen.offScreen--from-left,
.off-screen.offScreen--from-right,
.off-screen.offScreen--fade {
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.offScreen--rotate-up {
  -webkit-transform: translateY(0px) rotate3d(1, 0, 0, 0deg);
  transform: translateY(0px) rotate3d(1, 0, 0, 0deg);
  opacity: 1;
  -webkit-transition: all 0.65s ease-out;
  -o-transition: all 0.65s ease-out;
  transition: all 0.65s ease-out;
}

.offScreen--rotate-up.offScreen--hide {
  -webkit-transform: rotate3d(1, 0, 0, 60deg);
  transform: rotate3d(1, 0, 0, 60deg);
  opacity: 0;
}

.offScreen--fade-up {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  -webkit-transition: all 0.65s ease-out;
  -o-transition: all 0.65s ease-out;
  transition: all 0.65s ease-out;
}

.offScreen--fade-up.offScreen--hide {
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transform: translateY(40px);
  opacity: 0;
}

.offScreen--from-left {
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.offScreen--from-left.offScreen--hide {
  -ms-transform: translateX(70px);
  -webkit-transform: translateX(70px);
  transform: translateX(70px);
  opacity: 0;
}

.offScreen--hide.offScreen--from-left {
  -ms-transform: translateX(-150px);
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  opacity: 0;
}

.offScreen--hide.offScreen--from-right {
  -ms-transform: translateX(150px);
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
  opacity: 0;
}

.offScreen--hide.offScreen--from-bottom {
  -ms-transform: translateY(150px);
  -webkit-transform: translateY(150px);
  transform: translateY(150px);
  opacity: 0;
}

.offScreen--hide.offScreen--fade {
  opacity: 0;
}

.offScreen--alternate > div > div {
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.offScreen--alternate > div.offScreen--hide:nth-child(even) div:nth-child(1) {
  -ms-transform: translateX(150px);
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
  opacity: 0;
}

.offScreen--alternate > div.offScreen--hide:nth-child(even) div:nth-child(2) {
  -ms-transform: translateX(-150px);
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  opacity: 0;
}

.offScreen--alternate > div.offScreen--hide:nth-child(odd) div:nth-child(1) {
  -ms-transform: translateX(-150px);
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  opacity: 0;
}

.offScreen--alternate > div.offScreen--hide:nth-child(odd) div:nth-child(2) {
  -ms-transform: translateX(150px);
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
  opacity: 0;
}

.offScreen--sequential > * {
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.offScreen--sequential.offScreen--hide > * {
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
}

.offScreen--sequential > *:nth-child(1) {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.offScreen--sequential > *:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.offScreen--sequential > *:nth-child(3) {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.offScreen--sequential > *:nth-child(4) {
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.offScreen--sequential > *:nth-child(5) {
  -webkit-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.offScreen--sequential > *:nth-child(6) {
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

.offScreen--sequential > *:nth-child(7) {
  -webkit-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

.offScreen--sequential > *:nth-child(8) {
  -webkit-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s;
}

.offScreen--sequential > *:nth-child(9) {
  -webkit-transition-delay: 1.6s;
  -o-transition-delay: 1.6s;
  transition-delay: 1.6s;
}

.offScreen--sequential > *:nth-child(10) {
  -webkit-transition-delay: 1.8s;
  -o-transition-delay: 1.8s;
  transition-delay: 1.8s;
}

.offScreen--sequential > *:nth-child(11) {
  -webkit-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
}

.offScreen--sequential > *:nth-child(12) {
  -webkit-transition-delay: 2.2s;
  -o-transition-delay: 2.2s;
  transition-delay: 2.2s;
}

.offScreen--sequential > *:nth-child(13) {
  -webkit-transition-delay: 2.4s;
  -o-transition-delay: 2.4s;
  transition-delay: 2.4s;
}

.offScreen--sequential > *:nth-child(14) {
  -webkit-transition-delay: 2.6s;
  -o-transition-delay: 2.6s;
  transition-delay: 2.6s;
}
.contentWrap {
  position: relative;
  border: solid 10px #fff;
}
.offScreenFadeUp {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  -webkit-transition: all 0.65s ease-out;
  -o-transition: all 0.65s ease-out;
  transition: all 0.65s ease-out;
  .offScreenFadeUp.off-screen--hide {
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 0;
  }
}
.cardLarge {
  min-height: 470px;
}
.red3Background {
  background-color: #c3155d;
}
.cardLarge .card__content {
  padding: 40px;
}
.grid-9 .grid-card--image {
  position: relative;
}
.cardImage:before {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 0.75))
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  z-index: 1;
}
.offScreenFadeUp {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  -webkit-transition: all 0.65s ease-out;
  -o-transition: all 0.65s ease-out;
  transition: all 0.65s ease-out;
}

.offScreenFadeUp.off-screen--hide {
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transform: translateY(40px);
  opacity: 0;
}
.cardImage .card__content {
  padding-top: 50px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 0.75))
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
}

@media (max-width: 767px) {
  .cardImage {
    margin-bottom: 30px;
  }
}

.grid-9 .grid-card--image:before {
  display: block;
  content: '';
  width: 100%;
  padding-top: 82.11881%;
}

@media (max-width: 500px) {
  .cardLarge .card__content {
    padding: 28px;
  }
}

.cardLarge p {
  margin-top: 8px;
}

.cardLarge .position-bottom p {
  max-width: 440px;
}

@media (max-width: 500px) {
  .cardLarge {
    min-height: 300px;
  }
}
.grid3 {
  margin-top: 30px;
  margin-bottom: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

@media (min-width: 992px) {
  .grid3 {
    display: grid;
  }
}

.grid3 > *,
.grid3 > .card {
  display: block;
  height: auto;
  margin: 15px;
}

@media (max-width: 991px) {
  .grid3 > *,
  .grid3 > .card {
    display: block;
    margin-bottom: 30px;
  }
}

.grid3 > *:nth-child(1) {
  grid-area: 1/1/3/3;
}

.grid3 > *:nth-child(2) {
  grid-area: 1/3/2/4;
}

.grid3 > *:nth-child(3) {
  grid-area: 2/3/3/4;
}
