.mainSpan
    {
        font-size: 5.625rem;
        font-weight: 900;
        color: var(--color-primary);
    }
.parent 
    {   display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
        width: 100%;
    }
.div1
    {
        grid-area:1 / 1 / 3 / 7;
        background: url('../public/images/about_page/what-we-do-1024x732.jpg.webp') center no-repeat ;
        background-size: cover;
        /* width: 100%;
        height: 400%; */
        
    }   
.div2  
    {
        min-height: 12rem;
        grid-area:1 / 7 / 2 / 11; 
        background:url('../public/images/about_page/our-culture.jpg.webp') center no-repeat;
        background-size: cover;
    }
.div3 
    {
        min-height: 12rem;
        grid-area: 2 / 7 / 3 / 11; 
        background: url("../public/images/about_page/our-approach.jpg.webp") center no-repeat;
        background-size: cover;
    }