.clients {
    padding: 0 0 60px 0;
  }
  
  .clients .swiper-slide img {
    opacity: 0.5;
    transition: 0.3s;
  }
  
  .clients .swiper-slide img:hover {
    filter: none;
    opacity: 1;
  }
  .spanFeature{
    font-size: 5.8888888889rem;
    font-weight: 700;
    color: #1086e1;
    text-transform: uppercase;
    line-height: 2.6666666667rem;
}
  